<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitemagic2014.dao.Testdao">



	<update id="createTable">
		CREATE TABLE haha(id int, name varchar(20))
	</update>
	
	<update id="dropTable">
		DROP TABLE IF EXISTS haha
	</update>
	
</mapper>
